services:
  couchdb:
    image: kritik95/obsidian-couchdb:latest
    container_name: obsidian-db
    restart: unless-stopped
    environment:
      - COUCHDB_USER=${COUCHDB_USER}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
    volumes:
      - couchdb_data:/opt/couchdb/data
    ports:
      - "5984:5984"
    healthcheck:
      test: ["CMD-SHELL", "curl -f -u ${COUCHDB_USER}:${COUCHDB_PASSWORD} http://localhost:5984"]
      interval: 10s
      timeout: 5s
      retries: 5

  init-db:
    image: curlimages/curl
    depends_on:
      couchdb:
        condition: service_healthy
    environment:
      - COUCHDB_USER=${COUCHDB_USER}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - COUCHDB_DB_NAME=${COUCHDB_DB_NAME}
    entrypoint: >
      /bin/sh -c "
        echo '[~] Waiting for CouchDB...';
        until curl -s http://couchdb:5984 > /dev/null; do sleep 2; done;
        echo '[~] Creating databases...';
        curl -X PUT -u ${COUCHDB_USER}:${COUCHDB_PASSWORD} http://couchdb:5984/${COUCHDB_DB_NAME};
        curl -X PUT -u ${COUCHDB_USER}:${COUCHDB_PASSWORD} http://couchdb:5984/_users;
        echo '[OK] Done';
      "

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: obsidian-tunnel
    restart: unless-stopped
    command: tunnel --url http://couchdb:5984
    depends_on:
      couchdb:
        condition: service_healthy

volumes:
  couchdb_data:
